body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  h1 {
    margin-bottom: 0;
  }

  .braintree-heading {
    text-align: center !important;
    width: 100%
  }

  .logo-header {
    font-family: "Texgyre Pagella" !important;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .trash-icon:hover {
    color: pink!important
  }



  .jumbotron {
    background-color: white;
  }
  .nav-icons {
    font-size: 1.3em;
  }

  .cursor-pointer{
    cursor: pointer;
  }
  
  

  .fraction {
    font-variant-numeric: diagonal-fractions;
  }

  .grid-container{
    margin: 20px auto;
    
    display: grid;
  
    width: 100%;
    //Using auto-fill and auto-fit
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill,100px);
    grid-template-columns: repeat(auto-fit,100px);
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  
    
    .grid-item{
      padding: 10px;
      color: black;
      font-family: sans-serif;
      font-size: 20px;
      
      
     }
    
   }
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Card Slider **/



$i: 0;
@for $i from 0 through 6 {
.cards-slider.active-slide-#{$i} #card-#{$i} {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  .details {
    opacity: 1;
  }
}
}

#slider-buttons {
  z-index: 9999999999999999999999999999999 !important
}

.clear-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}


@media (min-width: 576px) {

.jumbotron {
    padding: 2rem 2rem !important;
}


}
@media (max-width: 1000px) {

  .responsive-column {
    flex-direction: column;
    
  }


  


}


// CSS Loop

.wrapper {
  overflow: hidden;
}

.sliding-background {
  background: url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/test.png?v=1602589417") repeat-x;
  height: 160px;
  width: 5076px;
  opacity: 0.1;
  // width: 100%;
  animation: slide 60s linear infinite;
}
.sliding-background-reverse {
  background: url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/test.png?v=1602589417") repeat-x;
  height: 160px;
  width: 5076px;
  opacity: 0.1;
  // width: 100%;
  animation: slidereverse 60s linear infinite;
}

.skyline {
  opacity: 0.05;
}

#right-banner {
  background-image: url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/banner4.jpg?v=1573570725");
  background-position: center;
  background-size: cover;
  min-height: 320px;
  max-height: 320px;
}


#left-banner-reverse {
  // background-image: url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/banner4.jpg?v=1573570725");
  background-image: url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/our-story4.jpg?v=1570534108");
  background-position: center;
  background-size: cover;
  min-height: 320px;
  max-height: 320px;
  
}

#contact-form-container {
  // background-image: url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/banner4.jpg?v=1573570725");
  
  // background-image: linear-gradient(to bottom, rgba(104, 106, 106, 1), rgba(245, 246, 252, 0.52)), url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/calacatta-marble.jpg?v=1603025257");
  background-position: center;
  background-size: cover;
}

@keyframes slide{
  0%{
    transform: translate3d(-1692px, 0, 0);
  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slidereverse{
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
  0%{
    transform: translate3d(0, 0, 0);
  }
}

@media(max-width: 414px) {
  .card-slider-container {
    display: none !important
  }
  .sliding-background {
    width: 100%
  }
  .sliding-background-reverse {
    width: 100%
  }
  .header-1-text {
    font-size: 1.3em !important;
  }
  .header-2-text {
    font-size: 0.7em !important;
    letter-spacing: 8px !important;
  }
  .logo {
    width: 40px !important;
  }

  
}


@media(max-width: 321px) {

  .header-1-text {
    font-size: 1.09em !important;
  }
  .header-2-text {
    font-size: 0.5em !important;
    letter-spacing: 7.5px !important;
  }
  .logo {
    width: 1.5em !important;
  }

  
  
}


@media(max-width: 500px) {
  .cart-item {
    border: 2px solid;
    // border-color: orange;
    padding: 10px;
    margin: 10px;
  }
  

  .responsive-column {
    align-items: flex-start !important;
  display: flex !important;
    justify-content: flex-start !important;
    // background-color: orange;
    margin: 0;
    padding: 0;
  }
  #name-price-responsive {
    // flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    // margin: 10px;
    
    width: 100% !important;
   
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  //your styles here
  .card-slider-container {
    display: none !important
  }

  .our-favorites {
    display: none !important;
  }

 
  .sliding-background-reverse {
    width: 100%
  }

  .sliding-background {
    width: 100%
  }
 }

