body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  h1 {
    margin-bottom: 0;
  }

  .logo-header {
    font-family: "Texgyre Pagella" !important;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .trash-icon:hover {
    color: pink!important
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .jumbotron {
    background-color: white;
  }
  .nav-icons {
    font-size: 1.3em;
  }

  .cursor-pointer{
    cursor: pointer;
  }
  
  

  .fraction {
    font-variant-numeric: diagonal-fractions;
  }

  .grid-container{
    margin: 20px auto;
    
    display: grid;
  
    width: 100%;
    //Using auto-fill and auto-fit
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill,100px);
    grid-template-columns: repeat(auto-fit,100px);
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  
    
    .grid-item{
      padding: 10px;
      color: black;
      font-family: sans-serif;
      font-size: 20px;
      
      
     }
    
   }
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Card Slider **/



$i: 0;
@for $i from 0 through 6 {
.cards-slider.active-slide-#{$i} #card-#{$i} {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  .details {
    opacity: 1;
  }
}
}



.clear-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}


@media (min-width: 576px) {

.jumbotron {
    padding: 2rem 2rem !important;
}


}
@media (max-width: 1000px) {

  .responsive-column {
    flex-direction: column;
    
  }

  #name-price-responsive {
      flex-direction: row !important;
      align-items: center;
      margin: 10px;
      width: 100% !important;
  }
  


}


// CSS Loop

.wrapper {
  overflow: hidden;
}

.sliding-background {
  background: url("https://cdn.shopify.com/s/files/1/0265/0039/9213/files/test.png?v=1602589417") repeat-x;
  height: 160px;
  width: 5076px;
  opacity: 0.1;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(-1692px, 0, 0);
  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}

